### Arquivos

Acidentes

In [1]:
import pandas as pd

In [2]:
acidentes = pd.read_csv('../incidentes/acidentes.csv', delimiter=';')
acidentes.head()

,id_acidente,cadlogA,nomeA,cadlogB,nomeB,alt_num,referencia,data,hora,CodigoAcidente,...,distrito,princ_a,princ_b,TipoAcidente,latitude,longitude,geocoding,obstaculo,observacao,ocorrenciaPolicial
0,D021800002,12326,"JUSCELINO KUBITSCHEK, AV PRES",,NaN,2041,,24/02/2018,07:54,com vítima,...,35,12326,NaN,Colisão,-23.5911,-46.6884,NaN,NaN,NaN,NaN
1,D021800003,18151,"SEZEFREDO FAGUNDES, AV CEL",,NaN,2223,,22/02/2018,16:34,com vítima,...,81,18151,NaN,Colisão lateral,-23.4197,-46.5882,NaN,NaN,NaN,NaN
2,D021800007,10785,"JOSE ARTUR NOVA, AV DR",,NaN,300,,26/02/2018,13:30,atropelamento,...,74,10785,NaN,Atropelamento,-23.4903,-46.4377,NaN,NaN,NaN,NaN
3,D021800010,3454,"BOM PASTOR, RUA",,NaN,100,,23/02/2018,09:44,com vítima,...,34,3454,NaN,Colisão lateral,-23.5775,-46.6083,NaN,NaN,NaN,NaN
4,D021800011,779,"ALMEIDA COUTO, RUA PRES",05438,"COSTA PEREIRA, RUA PRES",0,,14/02/2018,17:10,com vítima,...,14,779,5438.0,Choque,-23.5646,-46.6078,NaN,PI,NaN,NaN

In [3]:
assert len(acidentes) == len(acidentes.id_acidente.unique())
acidentes.columns

Index(['id_acidente', 'cadlogA', 'nomeA', 'cadlogB', 'nomeB', 'alt_num',
       'referencia', 'data', 'hora', 'CodigoAcidente', 'dp', 'bo', 'automovel',
       'moto', 'onibus', 'caminhao', 'bicicleta', 'onibus_fretado',
       'onibus_urbano', 'microonibus', 'caminhonete', 'carroca', 'outros',
       'sem_informacao', 'ferida', 'obito', 'det', 'distrito', 'princ_a',
       'princ_b', 'TipoAcidente', 'latitude', 'longitude', 'geocoding',
       'obstaculo', 'observacao', 'ocorrenciaPolicial'],
      dtype='object')

In [4]:
acidentes = acidentes[~acidentes.latitude.isnull() & ~acidentes.longitude.isnull()]
len(acidentes)

999

Radares

In [5]:
radares = pd.read_csv('../src/radares.csv')
radares.head()

,gid,id,lote,codigo,endereco,sentido,referencia,tipo_equip,enquadrame,qtde_fxs_f,...,latitude_l,ligado,data_desli,motivo_des,mi_style,mi_prinx,geom,emme_gid,mdc_gid,contagem
0,174,11,1,6666,Av. Bráz Leme,Santana/Marginal,nº. 1.315,Fixo - Grupo A,V,3,...,(-46.64660654782726112 -23.50684421366561239),1,NaN,NaN,"Symbol (62,19424,12,""MapInfo Transportation"",2...",266,0101000020E6100000FA7BA503C45247C0F6F8EF87C081...,2153,214599,624849.0
1,172,12,1,6667,Av. Engº. Caetano Alvares,Bairro/Centro,nº. 4.339,Fixo - Grupo A,V,2,...,(-46.64633341117907861 -23.48705384348019365),1,NaN,NaN,"Symbol (62,19424,12,""MapInfo Transportation"",2...",264,0101000020E610000035DD8009BB5247C0293CAA92AF7C...,24608,125015,1237180.0
2,517,13,1,6742 - 6743 - 6796 - 6797,"Marg. Tietê, Pista Expressa",Castelo Branco/Ayrton Senna,a menos 167m da Ponte Presidente Jânio Quadros,Fixo - Grupo A,V-R-Z,4,...,(-46.59600837639777637 -23.52794743167591207),1,NaN,NaN,"Symbol (62,19424,12,""MapInfo Transportation"",2...",625,0101000020E6100000B0ACD1FE494C47C01B2C5A882787...,2702,249720,NaN
3,533,14,1,6754 - 6753 - 6907-6908,"Marg. Tietê, Pista Expressa",Castelo Branco/Ayrton Senna,a menos 31m Ponte Vila Guilherme,Fixo - Grupo A,V-R-PR-VER,4,...,(-46.61166479330452717 -23.52329704760323281),1,NaN,NaN,"Symbol (62,19424,12,""MapInfo Transportation"",2...",643,0101000020E61000000F792E004B4E47C0A5F14DCBF685...,13470,242953,NaN
4,526,15,1,6672 - 6671 - 6881- 6906,"Marg. Tietê, Pista Expressa",Castelo Branco/Ayrton Senna,a menos 206m Ponte Freguesia do Ó,Fixo - Grupo A,V-R-Z-PR,4,...,(-46.69154853843354402 -23.50920555531769907),1,NaN,NaN,"Symbol (62,19424,12,""MapInfo Transportation"",2...",635,0101000020E61000008005B49D845847C04EED0C535B82...,13033,187821,2463741.0

In [6]:
assert len(radares) == len(radares.id.unique())
radares.columns

Index(['gid', 'id', 'lote', 'codigo', 'endereco', 'sentido', 'referencia',
       'tipo_equip', 'enquadrame', 'qtde_fxs_f', 'data_publi', 'velocidade',
       'latitude_l', 'ligado', 'data_desli', 'motivo_des', 'mi_style',
       'mi_prinx', 'geom', 'emme_gid', 'mdc_gid', 'contagem'],
      dtype='object')

In [7]:
radares.latitude_l[0], type(radares.latitude_l[0])

('(-46.64660654782726112 -23.50684421366561239)', str)

### Script

In [18]:
import pandas as pd
from shapely.geometry import Point
from functools import partial
import pyproj
from shapely.ops import transform
import geopandas as gpd

proj_wgs84 = pyproj.Proj(init='epsg:4326')
crs = {'init': 'epsg:4326'}

def geodesic_point_buffer(lat, lon, dist, id=None):
    if id != None: 
        print(id, lat, lon)
    aeqd_proj = '+proj=aeqd +lat_0={lat} +lon_0={lon} +x_0=0 +y_0=0'
    project = partial(
        pyproj.transform,
        pyproj.Proj(aeqd_proj.format(lat=lat, lon=lon)),
        proj_wgs84)
    buf = Point(0, 0).buffer(dist)
    return transform(project, buf)

def point_from_tuple_str(tuple_str):
    try:
        tuple_float = list(map(lambda s: float(s.strip()), tuple_str[1:-1].split(' ')))
        return Point(tuple_float[1], tuple_float[0])
    except:
        return None

radares = pd.read_csv('../src/radares.csv')
pontos_radares = radares.latitude_l.apply(lambda l: point_from_tuple_str(l))
radares_geodf = gpd.GeoDataFrame(data=radares.id, geometry=pontos_radares, crs=crs)
radares_geodf = radares_geodf[~radares_geodf.geometry.isnull()]

acidentes = pd.read_csv('../incidentes/acidentes.csv', delimiter=';')
acidentes = acidentes[~acidentes.latitude.isnull() & ~acidentes.longitude.isnull()]

buffers_acidentes = {}
counts = {}
raios = [500, 1000, 2000]
for raio in raios:
    buffers = acidentes.apply(
        lambda row: geodesic_point_buffer(row.latitude, row.longitude, raio), 
        axis=1)
    buffers_acidentes[raio] = gpd.GeoDataFrame(data=acidentes.id_acidente, geometry=buffers, crs=crs)
    sjoin = gpd.sjoin(buffers_acidentes[raio], radares_geodf, op='contains')
    count = sjoin.groupby('id', as_index=False).agg({'id_acidente': 'count'})
    count.rename(columns={'id': 'id_radar', 'id_acidente': 'n_acidentes' + str(raio)}, inplace=True)
    counts[raio] = count
counts = counts[500].merge(counts[1000], on='id_radar', how='outer') \
                    .merge(counts[2000], on='id_radar', how='outer') \
                    .fillna(0)

In [20]:
counts.head()

   id_radar  n_acidentes500  n_acidentes1000  n_acidentes2000
0        25             1.0              6.0               17
1        26             1.0              3.0               18
2        28             2.0              6.0               10
3        32             2.0              3.0                8
4        72             2.0              7.0               19

### Validar e salvar

In [21]:
len(radares), len(counts)

(912, 55)

In [22]:
counts.n_acidentes500.describe()

count    55.000000
mean      1.527273
std       1.288906
min       0.000000
25%       1.000000
50%       1.000000
75%       2.000000
max       6.000000
Name: n_acidentes500, dtype: float64

In [23]:
counts.n_acidentes1000.describe()

count    55.000000
mean      4.963636
std       3.156203
min       0.000000
25%       3.000000
50%       5.000000
75%       7.000000
max      15.000000
Name: n_acidentes1000, dtype: float64

In [24]:
counts.n_acidentes2000.describe()

count    55.000000
mean     17.672727
std       8.472296
min       6.000000
25%      10.500000
50%      17.000000
75%      21.000000
max      43.000000
Name: n_acidentes2000, dtype: float64

In [25]:
counts.to_csv('../incidentes/acidentes-por-radar.csv')
buffers_acidentes[500].to_file('../incidentes/buffers-acidentes-500m.geojson', driver='GeoJSON')